* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 30px;
  background-color: rgba(86, 86, 151, 0.103);
}

.nav {
  margin: 20px;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 2, 49, 0.8),
    rgba(105, 105, 196, 0.911)
  );
  color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.534);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(149, 159, 185, 0.589);
}
.container {
  width: 100vw;
  height: 60vh;
  background-color: #1b1a629a;
}
.table {
  background: linear-gradient(100deg, rgb(29, 29, 155), rgba(2, 2, 36, 0.911));
}

.table_btn {
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
}

.table_main {
  background: linear-gradient(
    90deg,
    rgba(2, 2, 49, 0.8),
    rgba(105, 105, 196, 0.911)
  );
  margin-bottom: 20px;
}

/*******text area theme*******/

.cm-s-darcula {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif;
}
.cm-s-darcula.CodeMirror {
  background: #2b2b2b;
  color: #a9b7c6;
}

.cm-s-darcula span.cm-meta {
  color: #bbb529;
}
.cm-s-darcula span.cm-number {
  color: #6897bb;
}
.cm-s-darcula span.cm-keyword {
  color: #cc7832;
  line-height: 1em;
  font-weight: 700;
}
.cm-s-darcula span.cm-def {
  color: #a9b7c6;
  font-style: italic;
}
.cm-s-darcula span.cm-variable {
  color: #a9b7c6;
}
.cm-s-darcula span.cm-variable-2 {
  color: #a9b7c6;
}
.cm-s-darcula span.cm-variable-3 {
  color: #9876aa;
}
.cm-s-darcula span.cm-type {
  color: #abc;
  font-weight: 700;
}
.cm-s-darcula span.cm-property {
  color: #ffc66d;
}
.cm-s-darcula span.cm-operator {
  color: #a9b7c6;
}
.cm-s-darcula span.cm-string {
  color: #6a8759;
}
.cm-s-darcula span.cm-string-2 {
  color: #6a8759;
}
.cm-s-darcula span.cm-comment {
  color: #61a151;
  font-style: italic;
}
.cm-s-darcula span.cm-link {
  color: #cc7832;
}
.cm-s-darcula span.cm-atom {
  color: #cc7832;
}
.cm-s-darcula span.cm-error {
  color: #bc3f3c;
}
.cm-s-darcula span.cm-tag {
  color: #629755;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}
.cm-s-darcula span.cm-attribute {
  color: #6897bb;
}
.cm-s-darcula span.cm-qualifier {
  color: #6a8759;
}
.cm-s-darcula span.cm-bracket {
  color: #a9b7c6;
}
.cm-s-darcula span.cm-builtin {
  color: #ff9e59;
}
.cm-s-darcula span.cm-special {
  color: #ff9e59;
}
.cm-s-darcula span.cm-matchhighlight {
  color: #fff;
  background-color: rgba(50, 89, 48, 0.7);
  font-weight: 400;
}
.cm-s-darcula span.cm-searching {
  color: #fff;
  background-color: rgba(61, 115, 59, 0.7);
  font-weight: 400;
}
.cm-s-darcula .CodeMirror-cursor {
  border-left: 1px solid #a9b7c6;
}
.cm-s-darcula .CodeMirror-activeline-background {
  background: #323232;
}
.cm-s-darcula .CodeMirror-gutters {
  background: #313335;
  border-right: 1px solid #313335;
}
.cm-s-darcula .CodeMirror-guttermarker {
  color: #ffee80;
}
.cm-s-darcula .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}
.cm-s-darcula .CodeMirror-linenumber {
  color: #606366;
}
.cm-s-darcula .CodeMirror-matchingbracket {
  background-color: #3b514d;
  color: #ffef28 !important;
  font-weight: 700;
}
.cm-s-darcula div.CodeMirror-selected {
  background: #214283;
}
.CodeMirror-hints.darcula {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #9c9e9e;
  background-color: #3b3e3f !important;
}
.CodeMirror-hints.darcula .CodeMirror-hint-active {
  background-color: #494d4e !important;
  color: #9c9e9e !important;
}

/*******text area theme Ends*******/

/*******part2 num1*******/

.table-borderless {
  border-left: none;
  border-right: none;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.table-borderless-left {
  border-top: none;
  border-right: none;
}

.container,
.part2Num1 {
  padding: 20px;
}

.text-area {
  width: 400px;
  height: 400px;
}
/*******part2 num1 Ends*******/


/*******part2 num3 *******/


form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
}

input[type="submit"] {
  padding: 5px 10px;
  background-color: #1e3f1f;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
}

input[type="submit"]:hover {
  background-color: #035806;
  
}
#stack{
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;

}
#stack > p{
  margin-left: 20px;
}

/*******part2 num4 Ends*******/


#queue > li {
  color: white;
  font-size: x-large;
  font-weight: bold;
}