* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.homeBtn {
  background-color: #40c3ff;
  color: white;
  width: 120px;
  height: 60px;
  top: 10px;
  left: 20px;
  position: absolute;
  border-radius: 20px;
  transition: all 0.2s ease-in-out; 
  font-weight: 900;
  font-size: x-large;
  border-style: none;
  
  }
  
  .homeBtn:hover {
  background-color: rgb(174, 130, 255);

  transform: scale(1.1);
  }
  
  

body {
  background-image: url(assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 30px;
  background-color: rgba(86, 86, 151, 0.103);
}

.nav {
  margin: 20px;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgba(2, 2, 49, 0.8),
    rgba(105, 105, 196, 0.911)
  );
  color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.534);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(149, 159, 185, 0.589);
}
.container {
  width: 100vw;
  height: 60vh;
  background-color: #1b1a629a;
}
.table {
  background: linear-gradient(100deg, rgb(29, 29, 155), rgba(2, 2, 36, 0.911));
}

.table_btn {
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
}

.table_main {
  background: linear-gradient(
    90deg,
    rgba(2, 2, 49, 0.8),
    rgba(105, 105, 196, 0.911)
  );
  margin-bottom: 20px;
}

/*******text area theme*******/

/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

.cm-s-default .cm-variable {color: rgb(164, 128, 231);}
.cm-s-default .cm-operator {color: rgb(64, 134, 47);}
.cm-s-default .cm-brackets {color: rgb(94, 100, 2);}
.cm-s-default .cm-string {color: rgb(197, 115, 115);}

.cm-s-default .cm-number {color: rgb(135, 3, 196);}
.cm-s-default .cm-comment {color: rgb(251, 255, 23);}





/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}




.CodeMirror {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif;
}

.CodeMirror {
  background: #242020d2;
  color: #b7d7f8;
}



/*******text area theme Ends*******/


/*******part1 PATERN CC*******/
.pattern{
  background-color: white;
  padding: 60px;
  font-weight: 900;
  font-size: 15px;
  width: 400px;
  height: 400px;

}



/*******part2 num1*******/

.table-borderless {
  border-left: none;
  border-right: none;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.table-borderless-left {
  border-top: none;
  border-right: none;
}

.container,
.part2Num1 {
  padding: 20px;
}

.text-area {
  width: 400px;
  height: 400px;
}
/*******part2 num1 Ends*******/


/*******part2 num3 *******/


form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
}

input[type="submit"] {
  padding: 5px 10px;
  background-color: #1e3f1f;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
}

input[type="submit"]:hover {
  background-color: #035806;
  
}
#stack{
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;

}
#stack > p{
  margin-left: 20px;
}

/*******part2 num4 *******/

.queue-list {
  list-style: none;
  padding: 0;
}

.queue-list li {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #1e3f1f;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  width: 80px;
}

button[type="submit"]:hover {
  background-color: #035806;
  
}

/*******part2 num4 Ends *******/

/*******part2 num5  *******/
#table-num5{

  background-color: white;
  color: black;
}

.table-num5{

  background-color: rgba(255, 255, 255, 0.61);
  color: black;
  font-size: large;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.685);
  width: 30px;
  height: 30px;


}

/*******part2 num5  *******/
/*******part2 num6  *******/

.sort_number{
  font-size: 26px;
  font-weight: 900;
  color: white;
  margin-left: 20px;

}
.output-container{
  display: flex;

}
.num6{
  height: 300px;
}
#explaination > p {
  color: white;
}

/*******part2 num6 End  *******/