*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
   
}

body {
  background-image: url(assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}


header {
    padding: 30px;
    background-color: rgba(86, 86, 151, 0.103);
   
  }
  
  .nav{
    margin: 20px;
    padding: 30px;
    background: linear-gradient(90deg, rgba(2, 2, 49, 0.8), rgba(105, 105, 196, 0.911));
    color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.534);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(149, 159, 185, 0.589);
  }
  .container{
    width: 100vw;
    height: 60vh;
    background-color: #1b1a629a;
  }
  .table{
    background: linear-gradient(100deg, rgb(29, 29, 155), rgba(2, 2, 36, 0.911));
  }

  .table_btn{
    display: flex;
    justify-content: center;
  }
 
  .btn{
    color: white;
  }
  

  h1,h2,h3,h4,h5,h6{
    color: aliceblue;
  }

  .table_main{
    background: linear-gradient(90deg, rgba(2, 2, 49, 0.8), rgba(105, 105, 196, 0.911));
    margin-bottom: 20px;
  }




  body tr:hover {
    background-color: blue;

  }
    /*******text area theme*******/

  /*******text area theme Ends*******/

  /*******part2 num1*******/


  .container,.part2Num1{
    padding: 20px;
  }

  .text-area{
    width: 400px;
    height: 400px;
  }